.image {
    --imageBorderRad: 4px;
    --imageHeight: auto;
    --imageWidth: auto;
    --imageMaxHeight: none;
    --imageAspectRatio: auto;
    --imagePictureHeight: 100%;
    --imagePictureDisplay: inline;
    --imagePictureTransform: none;
    --imagePictureTransformCur: var(--imagePictureTransform);
    --imagePictureTransformHover: scale(1.025);
    --imagePictureTransition: none;

    border-radius: var(--imageBorderRad);
    height: var(--imageHeight);
    width: var(--imageWidth);
    max-height: var(--imageMaxHeight);
    aspect-ratio: var(--imageAspectRatio);
    overflow: hidden;
    user-select: none;

    &__picture {
        border-radius: var(--imageBorderRad);
        object-fit: cover;
        object-position: center;
        height: var(--imagePictureHeight);
        width: 100%;
        display: var(--imagePictureDisplay);
        transform: var(--imagePictureTransformCur);
        transition: var(--imagePictureTransition);
    }

    &--isFullHeight {
        --imageHeight: 100%;
    }

    &--isHeight280 {
        --imageHeight: 35rem;
    }

    &--isAspect\[300\/470\] {
        --imageAspectRatio: 300 / 470;
        --imageMaxHeight: 58.75rem;
        --imageWidth: 100%;
    }

    &--isAspect\[390\/450\] {
        --imageAspectRatio: 390 / 450;
        --imageMaxHeight: 60rem;
    }

    &--isMasonryFlow {
        --imageWidth: 100%;
        --imagePictureHeight: auto;
        --imagePictureDisplay: block;

        @media (--mobile) {
            --imageAspectRatio: 1;
            --imagePictureHeight: 100%;
        }
    }

    &--isLandscape {
        --imageAspectRatio: 4 / 3;
    }

    &--isPortrait {
        --imageAspectRatio: 4 / 5;
    }

    &--isHoverZoom {
        @media (hover: hover) and (prefers-reduced-motion: no-preference) {
            --imagePictureTransition: transform 650ms cubic-bezier(0.2, 0.65, 0.3, 1);

            &.isHover,
            &:hover {
                --imagePictureTransformCur: var(--imagePictureTransformHover);
            }
        }
    }
}
