.image {
  --imageBorderRad: 4rem;
  overflow: hidden;
  
  img {
    border-radius: var(--imageBorderRad);
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }
  
  &--isFullHeight {
    height: 100%;
  }
  
  &--isHeight280 {
    height: 35rem;
  }
  
  &--isAspect\[300\/470\] {
    aspect-ratio: 300 / 470;
    max-height: 470px;
  }
}
