.icon {
  --iconSize: 2rem;
  
  &__preview {
    display: block;
    width: var(--iconSize);
    height: var(--iconSize);
    
    use {
      width: inherit;
      height: inherit;
    }
  }
  
  &--size-120 {
    --iconSize: 15rem;
  }
  
  &--size-64 {
    --iconSize: 64px;
  }
}

